<h3>Access: </h3>
<br>

<button mat-stroked-button color="basic" [routerLink]="['/user/profile']">Profile</button>
<br>
<button mat-stroked-button color="basic" [routerLink]="['/user/history']">History</button>
<br>
<button mat-stroked-button color="basic" [routerLink]="['/user/favourites']">Favourites</button>
<br>
<button mat-stroked-button color="basic" [routerLink]="['/user/deposit']">Deposit</button>
<br>
<button mat-stroked-button color="basic" [routerLink]="['/user/withdrawal']">Withdrawal</button>
<br>
<button mat-stroked-button color="basic" [routerLink]="['/user/trade']">Trade</button>
<br>
