.navigation_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: space-around; */
}

.titles {
    text-align: center;
}

h4 {
    color: #341C09;
}