.title_text {
  text-align: center;
}

.getStarted {
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  justify-content: center;
}

.example-card {
    max-width: 150px;
    min-height: 270px;
    max-height: 270px;
}

/* .card_content {
  text-align: center;
} */
