<h3>Welcome to Trinance!</h3>
<br>
<button (click)=test()>Test button</button>
<hr>
<br>
<h3>Get started in 3 steps</h3>
<div class='getStarted'>
    <div>
        <mat-card class="example-card">
            <mat-card-header class="matHeader">
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/icon1.png" alt="">
            <mat-card-content>Create an account with us</mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header class="matHeader">
                <mat-card-title>Deposit</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/icon2.png" alt="">
            <mat-card-content>Deposit fiat/ethereum into your account</mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header class="matHeader">
                <mat-card-title>Trade</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/icon3.png" alt="">
            <mat-card-content>Start buying/selling immediately</mat-card-content>
        </mat-card>
    </div>
</div>
