<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class='trinance' [routerLink]="['/']">Trinance</span>
    <span class="example-spacer"></span>

    <div *ngIf="userStatus">
      <button mat-stroked-button color="basic" [routerLink]="['/user/dashboard']">Dashboard</button>
      <button mat-button [matMenuTriggerFor]="menu">{{ displayName }}</button>
      <mat-menu #menu="matMenu">
        <button class='matMenu' mat-stroked-button color="basic" [routerLink]="['/user/profile']">Profile</button>
        <br>
        <button class="matMenu" mat-stroked-button color="basic" [routerLink]="['/user/history']">History</button>
        <br>
        <button class="matMenu" mat-stroked-button color="basic" [routerLink]="['/user/favourites']">Favourites</button>
        <br>
        <button class="matMenu" mat-stroked-button color="basic" (click)="logout()">Logout</button>
      </mat-menu>
    </div>
    <div *ngIf="!userStatus">
      <button mat-stroked-button color="basic" [routerLink]="['/login']">Login</button>  
      <button class='register' mat-stroked-button color="basic" [routerLink]="['/register']">Register</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class='main_content'>
  <router-outlet></router-outlet>
</div>
